<div id="firstNameErrorEdit" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> First name cannot be left empty.
    <button id="firstNameErrorCloseEdit" type="button" class="btn-close"></button>
</div>

<div id="firstNameRegexErrorEdit" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> First name is invalid.
    <button id="firstNameRegexErrorCloseEdit" type="button" class="btn-close"></button>
</div>

<div id="lastNameErrorEdit" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Last name cannot be left empty.
    <button id="lastNameErrorCloseEdit" type="button" class="btn-close"></button>
</div>

<div id="lastNameRegexErrorEdit" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Last name is invalid.
    <button id="lastNameRegexErrorCloseEdit" type="button" class="btn-close"></button>
</div>

<div id="numberErrorEdit" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Number cannot be left empty.
    <button id="numberErrorCloseEdit" type="button" class="btn-close"></button>
</div>

<div id="notANumberErrorEdit" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Number must be a number.
    <button id="notANumberErrorCloseEdit" type="button" class="btn-close"></button>
</div>

<div id="invalidNumberErrorEdit" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> The number must be between 0 and 99.
    <button id="invalidNumberErrorCloseEdit" type="button" class="btn-close"></button>
</div>

<div id="teamErrorEdit" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Team cannot be left empty.
    <button id="teamErrorCloseEdit" type="button" class="btn-close"></button>
</div>
