<div id="firstNameError" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> First name cannot be left empty.
    <button id="firstNameErrorClose" type="button" class="btn-close"></button>
</div>

<div id="firstNameRegexError" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> First name is invalid.
    <button id="firstNameRegexErrorClose" type="button" class="btn-close"></button>
</div>

<div id="lastNameError" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Last name cannot be left empty.
    <button id="lastNameErrorClose" type="button" class="btn-close"></button>
</div>

<div id="lastNameRegexError" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Last name is invalid.
    <button id="lastNameRegexErrorClose" type="button" class="btn-close"></button>
</div>

<div id="numberError" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Number cannot be left empty.
    <button id="numberErrorClose" type="button" class="btn-close"></button>
</div>

<div id="notANumberError" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Number must be a number.
    <button id="notANumberErrorClose" type="button" class="btn-close"></button>
</div>

<div id="invalidNumberError" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> The number must be between 0 and 99.
    <button id="invalidNumberErrorClose" type="button" class="btn-close"></button>
</div>

<div id="teamError" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Team cannot be left empty.
    <button id="teamErrorClose" type="button" class="btn-close"></button>
</div>
