<div id="firstNameRegexErrorFind" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> First name is invalid.
    <button id="firstNameRegexErrorCloseFind" type="button" class="btn-close"></button>
</div>

<div id="lastNameRegexErrorFind" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Last name is invalid.
    <button id="lastNameRegexErrorCloseFind" type="button" class="btn-close"></button>
</div>

<div id="notANumberErrorFind" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> Number must be a number.
    <button id="notANumberErrorCloseFind" type="button" class="btn-close"></button>
</div>

<div id="invalidNumberErrorFind" class="alert alert-danger alert-dismissible fade show mt-3" hidden>
    <strong>Error!</strong> The number must be between 0 and 99.
    <button id="invalidNumberErrorCloseFind" type="button" class="btn-close"></button>
</div>

