<%- include('./partials/heading.ejs') %>

    <title>Home Page</title>
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand bg-secondary navbar-dark">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/kanyequote">Kanye Quote</a>
                    <a class="nav-item nav-link" href="/restcountries">Rest Countries</a>
                </div>
            </nav>
        </header>

    </body>
