<%- include('./partials/heading.ejs') %>

    <title>Kanye Quote API</title>
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand bg-secondary navbar-dark mb-3">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link active" href="/kanyequote">Kanye Quote</a>
                    <a class="nav-item nav-link" href="/restcountries">Rest Countries</a>
                </div>
            </nav>
        </header>

        <div class="container text-center">

            <button id="quoteButton" class="btn p-0"><img src="../kanye.webp" width="1000" height="600" class="p-0" /></button>

            <p id="someheading" class="h1 mt-3">Click Kanye for a Quote</p>

        </div>

        <script src="../public/js/kanyequote.js"></script>
    </body>
