<!DOCTYPE html>
<html>
<body>

<h1>rtnlern tlkerkl;</h1>

<h2 id="someheading">heading</h2>


    <button id="quoteButton">New quote</button>

    <%- include('./scripts/kanyequote') %>
</body>
</html>