<%- include('./partials/heading.ejs') %>

    <title>Kanye Quote API</title>
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand bg-secondary navbar-dark mb-3">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/kanyequote">Kanye Quote</a>
                    <a class="nav-item nav-link" href="/restcountries">Rest Countries</a>
                    <a class="nav-item nav-link active" href="/mlbPlayers">Mlb Players</a>
                </div>
            </nav>
        </header>

<%- include('./partials/footer.ejs') %>